<h1><%= link_to @story.title, @story.url %></h1>

<p><%= @story.description %></p>

<p><%= time_ago_in_words @story.created_at %> ago </p>

<div class="actions">

<%= link_to "Edit", edit_story_path(@story) %>

<%= link_to "Delete", story_path(@story), method: :delete %>

</div>

<div class="comments">

	<% @story.comments.each do |comment| %>

			<%= simple_format comment.body %>

			<p><%= time_ago_in_words comment.created_at %> ago </p>
			<%= link_to "delete comment", story_comment_path(
			comment.story_id, comment), method: :delete %>
	<% end %>

</div>

<%= link_to "Add a comment", new_story_comment_path(@story) %>